button {
    background-color: white;
    border: 2px solid var(--color-brand);
    border-radius: 6px;
    color: var(--color-brand);
    padding: var(--gap-2) var(--gap-3) var(--gap-2) var(--gap-3);
    font-family: "Urbanist", sans-serif;
    font-weight: var(--font-heavy);
}
