form {

    fieldset {
        display: flex;
        flex-flow: row wrap;
        border: 0;
        padding: 0;
        margin: 0 0 var(--gap-2) 0;
        align-items: center;
        justify-content: space-between;
        max-width: 350px;
        gap: 0 var(--gap-2);
    }

    label {
        font-weight: 900;
    }

    p {
        font-size: var(--font-small);
        color: var(--color-grey-3);
    }
}
